# API Gateway
VITE_API_URL=https://n3dh7mh3mi.execute-api.ap-south-1.amazonaws.com/rfp

# AWS Cognito
VITE_COGNITO_USER_POOL_ID=ap-south-1_nw2s2XfQH
VITE_COGNITO_CLIENT_ID=5njsncms50jg1ur5uo4o608k9b
VITE_AWS_REGION=ap-south-1

# S3
VITE_S3_BUCKET=vb-trainee-rfp-dataset-bucket
# # ===== OPTIONAL (For production/database) =====
# DATABASE_URL=postgresql://user:password@localhost:5432/rfp_db
